body {
background-image: url("rtimg/background1.png");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
overflow: hidden;
background-color: black;
}
h1, h2, p, a {
  color: white;
  font-family:gothic;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
p, a {
  font-size: 30px;
}
.smol {
  font-size: 15px;
}
.center {
  text-align: center;
}
.box {
  width: 50%;
  height: 80%;
  margin-left: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid White;
  border-left: 1px solid White;
  border-bottom: 1px solid White;
}
@font-face {
   font-family: gothic;
   src: url(gothic.ttf);
}
button {
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-size: 16px;
  width: 24.6%;
}
button:hover {
  background-color: black;
  color: white;
}
.linkbox {
  border-bottom: 1px solid White;
  border-top: 1px solid White;
  width: 99.915%;
}
